[apply]
    whitespace = fix

[merge]
    tool = vimdiff

[color]
    ui = auto
    status = auto
    branch = auto
    diff = auto

[alias]
    unstage = reset HEAD
    ci = commit
    co = checkout
    br = branch
    st = status
    dc = diff --cached
    d = diff
    a = add -u
    aa = add -A
    out = log origin/master..HEAD
    in = log HEAD..origin/master
    addregex = !"$MY_SCRIPTS"/git/git_add_regex.sh
    svnup = !"$MY_SCRIPTS"/git/svn_up_branch.sh
    svnpush = !"$MY_SCRIPTS"/git/svn_push_branch.sh

    lg = log --pretty=tformat:'%h %Cblue%cr%Creset %cn %Cgreen%s%Creset'
    lgraph = !git lg --graph

[core]
    editor = vim

[user]
    name = dm3
